@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import 'tailwindcss';

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: auto;
}

button {
  cursor: pointer;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* 메인 컬러 토큰 */
/* 사용 예시 bg-[var(--main-blue-100)] */
/* 복붙용 [var()]*/
:root {
  /* Main Blue */
  --main-blue: #0D29B7;
  --main-blue-300: #B4BDE9;
  --main-blue-100: #DBDFF4;
  --main-blue-50: #ECEEF9;
  /* Main Green */
  --main-green: #08D485;
  --main-green-300: #B3F4DB;
  --main-green-100: #DAF4EA;
  --main-green-50: #ECF6F2;
  /* Gray Scale */
  --gray-900: #212121;
  --gray-800: #414141;
  --gray-700: #707070;
  --gray-600: #A0A0A0;
  --gray-500: #C2C2C2;
  --gray-400: #E1E1E1;
  --gray-300: #F3F3F3;
  --gray-200: #FFFFFF;
}